.mission_wrapper {
  background-image: url("../../assets/login/black_bg.png");
  height: auto;
  width: auto;
}
.mission_container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  padding-top: 6.6rem;
  position: relative;
}

.mission {
  z-index: 10;
  display: grid;
  grid-template-columns: 35rem 35rem;
}
.imgbrain {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 20px;
  height: 30rem;
  width: 30rem;
  object-fit: cover;
}
.mission_right {
  margin-left: 2rem;
  margin-right: 2rem;
}
@media screen and (max-width: 1200px) {
  .mission {
    grid-template-columns: 35rem;
  }
  .imgbrain {
    margin-left: -1rem;
    height: 22rem;
    width: 37rem;
  }
  .mission_right {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 650px) {
  .imgbrain {
    height: 18rem;
    width: 33rem;
  }
  .mission {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 590px) {
  .imgbrain {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 15rem;
    width: 29rem;
  }
}
@media screen and (max-width: 520px) {
  .imgbrain {
    height: 15rem;
    width: 25rem;
  }
}
@media screen and (max-width: 460px) {
  .imgbrain {
    height: 13rem;
    width: 23rem;
  }
}
@media screen and (max-width: 420px) {
  .imgbrain {
    height: 11rem;
    width: 18rem;
  }
}
@media screen and (max-width: 350px) {
  .imgbrain {
    height: 10rem;
    width: 16rem;
  }
}
@media screen and (max-width: 310px) {
  .imgbrain {
    margin-left: 2rem;
    height: 10rem;
    width: 13rem;
  }
}
/* //////////////////////////////// */
.team_wrapper {
  background: black;
  display: flex;
}
.team_container {
  padding: 9rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  z-index: 100;
}
.team_container h1 {
  font-weight: 800;
  text-transform: uppercase;
  color: white;
}
.team_container h1 strong {
  color: red;
}
.team_box {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 17px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  height: 100%;
}
.team_box h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logo {
  border-radius: 50%;
  fill: blue;
  background: white;
}
.team_box_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1rem;
  place-items: center;
}
.team_box img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.team_box_logo {
}
@media screen and (max-width: 500px) {
  .team_box_wrapper {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
  .team_box p {
    font-size: 0.8rem;
  }
}
